# fly.toml app configuration file generated for MY_REDACTED_NAME on 2025-08-08T21:09:52-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# i would autogen yours with flyctl then change them to look like mine if you like
app = 'MY_REDACTED_NAME'
primary_region = 'sjc'

[build]

# i would recommend changing a bunch of these
[http_service]
  internal_port = 5000 
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 2
