app = 'reedstreams-edge-v1'
primary_region = 'dfw'

[build]

[env]
  HOST = "0.0.0.0"
  PORT = "5000"
  CARGO_ENV = "production"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 2

[[services]]
  internal_port = 5000
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 250
    soft_limit = 200
    type = "connections"

  [[services.http_checks]]
    interval = "10s"
    grace_period = "5s"
    method = "get"
    path = "/api/v1/streams" # Change this to your actual health check or root path
    protocol = "http"
    timeout = "2s"
