app = 'reedstreams-edge-v1'
primary_region = 'dfw'

[build]

[env]
  HOST = "0.0.0.0"
  PORT = "5000"
  CARGO_ENV = "production"

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 2

[[services]]
  internal_port = 5000
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 250
    soft_limit = 200
    type = "connections"

  [[services.http_checks]]
  interval = "15s"      # Check less often (default is usually 10s)
  timeout = "5s"        # Wait 5s for an answer (default is 2s)
  grace_period = "10s"  # Give it 10s to wake up before failing
  restart_limit = 0     # Don't restart it just because it missed a ping
